
<h3>Réservation</h3>

Bonjour,
 {{ CurrentUser.titre }} {{ CurrentUser.name }} {{ CurrentUser.prenom }}! votre réservation à correctement été prise en compte.

 Vous serez bientôt contactez par nos services.



Cordialement.

<img src="{{asset('LOCANOR_LOGO.png')}}">