<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma page d'acceuil</title>
  </head>
  <body>
    <h1>Hello {{nom}}</h1>

    <p>
      Tu es ici sur la page home ou sera tout le truc shatta de reservation et de pureté !!!
    </p>
    <footer>Responsable du site :  {{ webmaster }}.</footer>
  </body>
</html>
