{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}- Confirmation !{% endblock %}

{% block body %}


<div  class="alert alert-success" align="center">
  <strong >Success!</strong> Vôtre reservation à été pris en compte.
</div>

<h1 align="center">Locanor vous remercie et vous dis à bientôt !</h1>


{% endblock %}